body {
}
.container {
  width: 1863.5px;
  height: 1083px;
  position: absolute;
  top: -1px;
  left: -362px;
  background-image: url("BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2148c0;
}
form {
  width: 300px;
  height: 398px;
  position: absolute;
  top: 161px;
  left: 490px;
}
#btn {
  background-color: white;
  color: blue;
  width: 300px;
  height: 45px;
  position: absolute;
  top: 483px;
  left: 490px;
  border-radius: 4px;
}
img {
  width: 119.39px;
  height: 95.85px;
  position: absolute;
  top: 161px;
  left: 580px;
}
#pswd {
  width: 300px;
  height: 45px;
  position: absolute;
  top: 395px;
  left: 490px;
  border: 1px solid #ffffff;
  background: url("Password.png") no-repeat 10px left;
}
#username {
  width: 300px;
  height: 45px;
  position: absolute;
  top: 330px;
  left: 490px;
  border: 1px solid #ffffff;
  background: url("Username.png") no-repeat 10px left;
}
P {
  width: 146;
  height: 20;
  position: absolute;
  top: 539px;
  left: 644px;
  font-family: "Montserrat" sans-serif;
  color: #ffffff;
  font-size: 16px;
}
